*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: rgb(23, 23, 23);
    color: white;
}
header{
    width: 100%;
    position: fixed;
    padding: 2rem 12%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
     align-items: center;
     background-color: rgb(4, 4, 4);

}
header .logo{
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-align: left;
    justify-content: left;
    color: white;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}
header .logo:hover{
    opacity: 1;
}
header ul{
    list-style: none;
    display: flex;
    gap: 7em;
    font-size: 1.2em;
    font-weight: 500;
}
ul li{
    opacity: 0.7;
    
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
ul li :hover{
    opacity: 1;

}
#menu-icon{
    font-size: 3em;
    cursor: pointer;
    

}
section{
    min-height: 100vh;
    padding: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;

}
.info-box{
    flex: 1;
}
.info-box p{
    max-width: 500px;
    line-height: 1.6;
    opacity: 0.85;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.info-box h1{
    font-size: 5em;
    line-height: 1;

}
.info-box h3{
    font-size: 2em;
    max-width: 500px;
    line-height: 1.6;
    margin-left: 0;
    margin-right: auto;
}
    
.gradient-txt{
    background: linear-gradient(270deg, #2fffdc 10%, #87ff38 100%);
    background-clip: text;
    color: transparent;
}
.bento-grid{
    flex: 1;
    height:  500px;
    /* border: 2px solid rgb(8, 235, 170); */
    display: flex;
    gap: 1em;

}
.btn{
    padding:  0.5em 1em;
    border-radius: 1em;
    font-size: 1.2em;
    background-color: white;
    border: 2px solid transparent;
    color:black;
    transition: 0.2s ease-in-out;
    cursor: pointer;

}
.btn:hover{
    background-color: black;
    color: white;
    border: 2px  solid rgb(43, 228, 170);

}
.col-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-right{
    flex: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.box{
    flex: 1;
    border-radius: 0;
    display: flex;
    gap: 1em;
    transition: 0.2s ease-in-out;
   /* border: 2px solid rgb(43, 228, 170); */
}
.inner-box{
    flex: 0.25;
    border-radius: 1em;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    /* border: 2px solid rgb(43, 228, 170); */
}
.col-left .inner-box:nth-of-type(1){
    flex: 1;
}
.col-left .inner-box:nth-of-type(2) .inner-box:nth-of-type(2){
    flex: 1;
}
.col-left .box :nth-of-type(3) .inner-box{
flex: 1;
}
.inner-box:hover{
    transform: scale(1.02);
    opacity: 1;
}
.col-right .box:hover{
    transform: scale(1.02);
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.col-right.box{
    overflow: hidden;
}
@media(max-width: 1200px){
    section{
        flex-direction: column;
        margin: 10em 2em;
        padding: 10% 5%
    }
}

